<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <ul id="product-list">
        {{#each products}}
            <li data-id="{{this.id}}">
                <strong>{{this.title}}</strong> - {{this.price}}<br>
                {{this.description}}<br>
                Code: {{this.code}}<br>
                Status: {{this.status}}<br>
                Stock: {{this.stock}}<br>
                Category: {{this.category}}<br>
            </li>
        {{/each}}
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const socket = io();

            socket.on('updateProducts', (product) => {
                const productList = document.getElementById('product-list');
                let productItem = document.querySelector(`li[data-id='${product.id}']`);
                if (productItem) {
                    productItem.innerHTML = `
                        <strong>${product.title}</strong> - ${product.price}<br>
                        ${product.description}<br>
                        Code: ${product.code}<br>
                        Status: ${product.status}<br>
                        Stock: ${product.stock}<br>
                        Category: ${product.category}<br>
                    `;
                } else {
                    const newProduct = document.createElement('li');
                    newProduct.dataset.id = product.id;
                    newProduct.innerHTML = `
                        <strong>${product.title}</strong> - ${product.price}<br>
                        ${product.description}<br>
                        Code: ${product.code}<br>
                        Status: ${product.status}<br>
                        Stock: ${product.stock}<br>
                        Category: ${product.category}<br>
                    `;
                    productList.appendChild(newProduct);
                }
            });

            socket.on('removeProduct', (productId) => {
                const productList = document.getElementById('product-list');
                const productToRemove = document.querySelector(`li[data-id='${productId}']`);
                if (productToRemove) {
                    productList.removeChild(productToRemove);
                }
            });
        });
    </script>
</body>
</html>
