<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <ul id="product-list">
        {{#each products}}
            <li data-id="{{this._id}}">
                <strong>{{this.title}}</strong> - {{this.price}}<br>
                {{this.description}}<br>
                Code: {{this.code}}<br>
                Status: {{this.status}}<br>
                Stock: {{this.stock}}<br>
                Category: {{this.category}}<br>
                <a href="/products/{{this._id}}">View Details</a>
                <button onclick="addToCart('{{this._id}}')">Add to Cart</button>
            </li>
        {{/each}}
    </ul>

    <div id="pagination">
        {{#if hasPrevPage}}
            <a href="{{prevLink}}">Previous</a>
        {{/if}}
        Page {{page}} of {{totalPages}}
        {{#if hasNextPage}}
            <a href="{{nextLink}}">Next</a>
        {{/if}}
    </div>

    <script>
        // Pasar el ID del carrito desde el servidor a la vista
        const currentUserCartId = "{{cartId}}";
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const socket = io();

            socket.on('updateProducts', (product) => {
                const productList = document.getElementById('product-list');
                let productItem = document.querySelector(`li[data-id='${product._id}']`);
                if (productItem) {
                    productItem.innerHTML = `
                        <strong>${product.title}</strong> - ${product.price}<br>
                        ${product.description}<br>
                        Code: ${product.code}<br>
                        Status: ${product.status}<br>
                        Stock: ${product.stock}<br>
                        Category: ${product.category}<br>
                        <a href="/products/${product._id}">View Details</a>
                        <button onclick="addToCart('${product._id}')">Add to Cart</button>
                    `;
                } else {
                    const newProduct = document.createElement('li');
                    newProduct.dataset.id = product._id;
                    newProduct.innerHTML = `
                        <strong>${product.title}</strong> - ${product.price}<br>
                        ${product.description}<br>
                        Code: ${product.code}<br>
                        Status: ${product.status}<br>
                        Stock: ${product.stock}<br>
                        Category: ${product.category}<br>
                        <a href="/products/${product._id}">View Details</a>
                        <button onclick="addToCart('${product._id}')">Add to Cart</button>
                    `;
                    productList.appendChild(newProduct);
                }
            });

            socket.on('removeProduct', (productId) => {
                const productList = document.getElementById('product-list');
                const productToRemove = document.querySelector(`li[data-id='${productId}']`);
                if (productToRemove) {
                    productList.removeChild(productToRemove);
                }
            });
        });

function addToCart(productId) {
    const currentUserCartId = "{{cartId}}"; // Asegúrate de que este ID sea correcto
    const url = `/api/carts/${currentUserCartId}/products/${productId}`;

    fetch(url, {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ quantity: 1 })
    })
    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }
        return response.json();
    })
    .then(data => {
        if (data.status === 'success') {
            console.log('Product added to cart:', data);
            alert('Product added to cart successfully!');
        } else {
            console.log('Failed to add product to cart:', data);
            alert('Failed to add product to cart');
        }
    })
    .catch(error => console.error('Error:', error));
}

    </script>
</body>
</html>
